/* GLOBAL */
*{
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  background-color: #fff;
  color: #444;
}
*:focus{
  outline:2px dotted #DE2E54;
  outline-offset: 2px;
}
/* CONTAINER */
.container{
  padding-left: 30px;
  padding-right: 30px;
  max-width: 1160px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
/* SITE HEADER CONTAINER*/
.site-header{
  padding-top: 24px;
  padding-bottom: 24px;
}
.site-header-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* SITE LOGO */
.site-logo{
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #222;
  font-size: 24px;
  font-weight: 600;
}
.site-logo:hover{
  color: #DE2E54;
}
.site-logo:active{
  opacity: 0.6;
}
.site-logo-img{
  margin-right: 16px;
}
/* SITE HEADER NAV  */
.site-header-nav{
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: bold;
  text-transform: uppercase;
}
.site-nav-list{
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}
.nav-list-item:not(:last-child){
  margin-right: 32px;
}
.nav-list-link{
  display: block;
  color: #222;
  text-decoration: none;
}
.nav-list-link:hover{
  color:#DE2E54;
}
.nav-list-link:active{
  opacity: 0.6;
}
.site-footer-nav .nav-list-link{
  color: #fff;
}
.site-footer-nav .nav-list-link:hover{
  color: #DE2E54;
}
.site-footer-nav .nav-list-link:active{
  color: #fff;
}
/* MAIN LINK */
.main-link{
  display: inline-block;
  padding: 10px 22px;
  border: 2px solid #DE2E54;
  border-radius: 8px;
  background-color: #DE2E54;
  color: #FFFFFF;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 15px;
  line-height: 1.5;
  text-transform: uppercase;
}
.main-link:hover{
  background-color: #fff;
  color: #DE2E54;
}
.main-link:active{
  opacity: 0.6;
  background-color: #DE2E54;
  color: #fff;
}
/* SITE-FOOTER */
.site-footer{
  padding-top: 24px;
  padding-bottom: 24px;
  background-color: #222;
  color: #fff;
}
.site-footer-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* LOGO SITE FOOTER */
.site-logo-site-footer{
  color: #fff;
}
.site-logo-site-footer:active{
  color: #fff;
  opacity: 0.6;
}
